html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  cursor: url("images/cursor.png"), auto;
}

.center {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.noselect {
  user-select: none;
}
